.navEjercito {
     position: relative;
     height: 200px;

}
nav{
     //position:  !important;
     //display: inline-block;
     /*height: 100px !important;*/
    height: auto !important;


}

/*navbar-fixed {*/
    /*position: relative !important;*/
    /*height: %navbar-height-mobile;*/
    /*z-index: 997;*/

/*nav {*/
    /*position: fixed;*/
/*}*/
/*}*/